.searchbar_container {
  margin: 4em;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-card {
  background-color: transparent;
}

.city {
  border-bottom: 0.2em solid rgb(106, 92, 228);
  width: 105%;
}
