.searchbar_container {
  margin: 4em;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-card {
  background-color: transparent;
}

.city {
  border-bottom: 0.2em solid rgb(106, 92, 228);
  width: 105%;
  font-size: 2em;
  font-weight: 400;
}

.temperature {
  font-weight: 700;
  font-size: 3em;
}

.humidity {
  font-weight: 400;
  font-size: 2em;
  line-height: 0.4;
}

.humidity_icon,
.wind_icon {
  color: aqua;
}

.humidity_icon {
  font-size: 1.4em;
}

.empty_heart,
.full_heart {
  color: red;
}

.wind {
  font-weight: 400;
  font-size: 2em;
}

.temperature_icon {
  color: aqua;
  font-size: 0.8em;
}
