.App {
  text-align: center;
}

body {
  background-image: url("https://img.freepik.com/free-vector/sky-background-video-conferencing_23-2148623068.jpg?t=st=1724339980~exp=1724343580~hmac=77382beaa1314e8a83a87e4cc69002c2fefdcdc1ff74e3d93f698b64ed4df167&w=2000");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}
